{{category_forum_block}}

<!--- Do Legend Soon
<table cellspacing="3" border="0" align="center" cellpadding="0">
  <tr>
	<td width="20" align="center"><img src="/images/folder_new.gif" alt="New posts"/></td>
	<td class="gensmall"><span class="gensmall">New posts</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center"><img src="/images/folder.gif" alt="No new posts" /></td>
	<td class="gensmall">No new posts</td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center"><img src="/images/folder_lock.gif" alt="Forum is locked" /></td>
	<td class="gensmall">Forum is locked</td>
  </tr>
</table>
-->