    <table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="topicTitleRow">
	  <table width="100%" border="0" cellspacing="0" cellpadding="3">            
	    <tr>
	      <td rowspan="2"><img src="{{user_image_src}}" alt="poster avatar" width="32" height="32"></td>
	      <td width="100%" class="topicSubjectCell">{{section:subject autohide="yes"}}{{comment_subject}}{{/section:subject}}</td>
	    </tr>
	    <tr>
	      <td class="topicBylineCell"><span class="newsItemSubtitleText">by <a href="/search/?profile={{comment_poster_id}}">{{comment_poster_username}}</a> on <nobr>{{comment_date_time}}</nobr></span>
	      </td>
	    </tr>
	    </table>
          </td>
        </tr>
        <tr>
          <td class="topicContentCell">
	  {{comment_body}}&nbsp;
          </td>
        </tr>

        <td class="commentFooter" height="19">
	  <span class="generalButton"><a href="?reply=true&new_post_parent_id={{comment_id}}">Reply to this</a></span>
	</td>
      </tr>

   </table>
    {{sub_comment_block}}