    <table width="125" border="0" cellspacing="0" cellpadding="3">
      <tr>
	<td height="5">
	  <img src="/images/master/spacer_clear.gif" width="2" height="3"> 
	</td>
      </tr>
      <tr>
	<td width="100%" class="menuBlockHeader">
	  Forums Menu
	</td>
      </tr>
      <tr>
	<td class="menuTableContainer">
	  <table width="100%" border="0" cellspacing="0" cellpadding="5">
	    <tr>
	      <td class="menuOff">
		<A HREF="/forums/?action=recent_overview">Recent Posts</A>
	      </td>
	    </tr>
      
	    <tr>
	      <td class="menuOff">
		<A HREF="/forums/?action=global_overview">Forum Top</A>
	      </td>
	    </tr>
{{section:categories}}
      <tr>
	<td class="menuOff">
	  <a href="/forums/?action=category_overview&category_id={{category_id}}">{{category_name}}</a>
	</td>
      </tr>
{{/section:categories}}
  </table>
  </td>
  </tr>
    <tr>
      <td class="leftBlockFooter">
	<img src="/images/master/spacer_clear.gif" width="3" height="5"> 
      </td>
    </tr>
  </table>