<table width="100%" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  IIP Credit
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  The Distributed City community (and anonymous chatters everywhere) owe thanks to the fine developers who created the Invisible Internet Project and made it available through an open source license. Much thanks.
	      <p align="center"><a href="/redirect.php?url=http://www.invisiblenet.net" target="_new">http://www.invisiblenet.net</a> The Invisible Internet Project homepage.</p>
<p align="center"><a href="/redirect.php?url=http://sourceforge.net/projects/invisibleip" target="_new">http://sourceforge.net/projects/invisibleip</a> The Invisible Internet Project SourceForge page.</p>

	</td>
      </tr>      
    </table>