<table width="100%" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  Distributed City Chat Channels (via the Invisible Internet Project)
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  Distributed City has reserved several channels on IIP to provide a chat space for our users. These channels roughly correspond with the DC News, Weblog, and Forum categories. Please use the appropriate channel for your desired chat topic. If you have a web client which recognizes <a href="/redirect.php?url=http://www.w3.org/Addressing/draft-mirashi-url-irc-01.txt" target="_new">IRC URIs</a>,
	   and have IIP installed on the default port 6669, you may click on a channel name to go there now.
	</td>
      </tr>
      <tr>
	<td>
	  <ul>
	    <li> <a href="irc://127.0.0.1:6669/#distributedcity">#distributedcity</a> - The Lobby
	    <li> <a href="irc://127.0.0.1:6669/#dc_cypherpunk">#dc_cypherpunk</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_culture">#dc_culture</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_dev">#dc_dev</a> - for <a href="/services/?screen=dcp">Distributed City developers</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_freedtools">#dc_freedtools</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_health">#dc_health</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_law">#dc_law</a>
	    	    <li> <a href="irc://127.0.0.1:6669/#dc_money">#dc_money</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_philosophy">#dc_philosophy</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_politics">#dc_politics</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_regional">#dc_regional</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_sovliving">#dc_sovliving</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_tech">#dc_tech</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_travel">#dc_travel</a>
	    <li> <a href="irc://127.0.0.1:6669/#dc_ventures">#dc_ventures</a>
	</td>
      </tr>
    </table>