<table width="100%" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  Installing IIP and IRC
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  This document will show you how to install IIP and an IRC client so that you may access the IIP server and Distributed City's discussion channels.
	</td>
      </tr>
      <td>
	<p class="subHeader">Quick Start</p>
	<p>Experienced users can follow these steps to get up an running quickly:</ul>
	  <OL>
	  <li> Install IIP by <a href="/redirect.php?url=http://www.invisiblenet.net/iip/download.html" target="_new">downloading</a> the Windows installer or by downloading and compiling *nix source.
	  <li> Download and install an Internet Relay Chat Client for <a href="/redirect.php?url=http://cws.internet.com/irc.html" target="_new">Windows</a>, <a href="/redirect.php?url=http://www.irchelp.org/irchelp/mac/" target="_new">Mac</a>, or <a href="/redirect.php?url=http://www.irchelp.org/irchelp/ircii/" target="_new">Unix</a>.
	  <li> Start the isproxy server, and point your IRC client to localhost:6669.
	  <li> Join any of the <a href="/chat/?action=channels">Distributed City IIP channels</a> and begin chatting!
	</OL>
	
	<p>Those unfamiliar with IIP or IRC are encouraged to continue reading the more detailed instructions below.</p>


	<p class="subHeader">Installing IIP</p>
	 
	<p>You must first download the appropriate package for your operating system. Go to the <a href="/redirect.php?url=http://prdownloads.sourceforge.net/invisibleip/" target="_new">IIP download page</a>, and select the package for your operating system. The first entries on this page you can safely ignore. Scroll down the page until you see references to Beta Test and User versions of IIP. We recommend using the beta versions.</p>

	<p>Windows users, click on the newest <a href="/redirect.php?url=http://prdownloads.sourceforge.net/invisibleip/" target="_new">IIP Win32 Install link</a>, and download the installer. You'll have the easiest time installing the IIP package - just click on the installer icon after downloading and you will be walked through the installation process.</p>

	<p>*nix users (including Mac OS X) must download and compile the source code. Click on the newest <a href="/redirect.php?url=http://prdownloads.sourceforge.net/invisibleip/" target="_new">IIP Source link</a>, and follow the directions in the INSTALL file. Mac OS X users should note that they have their own makefile which must be invoked when compiling. (I have been unable to get IIP v. 1.1.2 to compile on OS X. Your mileage may vary. Message me (Ellison) if you do manage to get it to work.)</p>

	<p>An Mac OS 9 isproxy is currently under development. We are also working on an SSL solution using stunnel, which will enable SSL capable IRC clients to access an IIP proxy running on our server.</p>

	<p>Now that you've got your IIP proxy running on your local machine, you need to download and setup an IRC client to access it.

	<p class="subHeader">Installing an IRC Client</p>

	<p>There are tens, maybe hundreds, of IRC clients that have been written and used over the past decade to access various IRC networks. You will likely try out several of them in your quest to find one which suits your needs. Every platform supported by IIP will have a plethora of clients to chose from, so it would be difficult to write a step-by-step guide on how to setup and use each one.</p>

	<p>Therefore, we will focus on setting up one IRC client: Mozilla. Mozilla is a cross-platform, free, open-source browser which includes a capable IRC client. It will work on all platforms supported by IIP.</p>

	<p>Begin by <a href="/redirect.php?url=http://www.mozilla.org/releases/"  target="_new">downloading</a> the version of Mozilla appropriate for your operating system. There are versions for Windows 98 and up, Max OS 9.x, Mac OS X, Linux, OS/2, and a whole slew of Unix flavors.</p>

	<p>After downloading, decompress the Mozilla or mount the disk image, and follow the supplied install instructions.</p>

	<p>You've now installed the two components necessary to get you started chatting on IIP. Continue on to <a href="/chat/?action=using">Using IIP & IRC</a> to learn how to use the Mozilla IRC cline to connect to IIP, and how to start chatting.</p>
      </td>
    </tr>
    </table>