<table width="100%" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  IIP Web Interface
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  The Distributed City IIP web interface will bring easy access to IIP.
	</td>
      </tr>
      <td>
	<p>IIP is somewhat difficult for the novice computer user to setup and operate. Therefore, bringing IIP to users via an easy to use web-browser interface is a top priority.</p>
	<p>The availability of the IIP web interface will be announced on the Distributed City forums. At that time, more information will be available on this page.</p>
      </td>
    </tr>
    </table>