<table width="100%" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  Chat Overview
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  Distributed City uses the Invisible Internet Relay Chat system (part of the <a href="/redirect.php?url=http://www.invisiblenet.net" target="_new">Invisible Internet Project - IIP</a>
) as its platform for providing secure pseduo-anonymous realtime chat services to DC users.
	</td>
      </tr>
    <td>
    <p>Until an inline DC <a href="/chat/?action=web_interface">IIP Web Interface</a> is implemented, you will need to install the IIP Proxy client application (ispoxy) on your machine as well as a standard Internet Relay Chat (IRC) client to access IIP chat - see: <a href="/chat/?action=installation">Installing IIP & IRC</a>.</p>
    <p>Once connected you should join one of the <a href="/chat/?action=channels">DC IIP Channels</a>.
    <p class="subHeader">Understanding the Invisible IRC Project (IIP)</p>
    <p>The IIP isproxy application runs on your machine which emulates an IRC server (called an IRC daemon). This proxy handles key generation, chat session encryption, and all communication with the IIP network.
       Point any standard IRC client at the isproxy, and it will connect you (anonymously and securely) to the IIP network. 
    <p>IRC is a fairly simple system to use once a few basic commands are mastered. There are many IRC manuals and howtos on the Internet which will get you up to speed. Among the best are the documents located at <a href="/redirect.php?url=http://www.irchelp.org" target="_new">IRCHelp.org</a>, including the <a href="/redirect.php?url=http://www.irchelp.org/irchelp/new2irc.html" target="_new">IRC Prelude</a>, the <a href="/redirect.php?url=http://www.irchelp.org/irchelp/ircprimer.html" target="_new">IRC Primer</a> and the step-by-step <a href="/redirect.php?url=http://www.irchelp.org/irchelp/irctutorial.html" target="_new">IRC Tutorial</a>.</p>

	<p>The Invisible IRC Project was created in order to allow anyone to chat with complete security and anonymity using a standard IRC client. IIP adds the following features to the tried-and-tested IRC architecture:</p>

<ul>
	  <li>end-to-end and node-to-node encryption
	  <li>fake traffic to thwart traffic analysis
	  <li>three tiered network to protect the identities of the users and the server
	  <li>working implementation of nickserv-like and chanserv-like service through "Trent" service
	  <li>self-maintaining node reference files to ensure users are always able to connect to network
	  <li>full traditional IRC support with the exception of CTCP and DCC: compatible with ALL IRC clients
	  <li>OS support for all flavors of *nix including BSD, Linux, Mac OS X, and Solaris and Microsoft Windows 95 and up
	  <li>node level flood control
	  <li>GUI interface for Windows
</ul>

	<p>In short, IIP takes a well tested and widely used Internet chat system and makes it private and secure. </p>

	<p>(For those interested there is a history of Internet Relay Chat from 1988 to the present <a href="/redirect.php?url=http://daniel.haxx.se/irchistory.html" target="_new">here</a>).
	</td>
    </tr>
</table>