<table width="100%" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  IIP SSL Interface
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  Distributed City's Stunnel interface to IIP will allow users of SSL IRC clients to acces IIP without installing a local IIP proxy.
	</td>
      </tr>
      <td>
	<p>In the near future, Distributed City will offer an IIP server available via SSL. This will allow users who are unable to set up a local IIP proxy to access IIP via SSL enabled IRC clients.</p>
	<p>The availability of this service will be announced in the DC forums. More information will be available here at that time.</p>
      </td>
    </tr>
    </table>