<table width="125" border="0" cellspacing="0" cellpadding="3">
      <tr>
	<td height="5">
	  <img src="/images/master/spacer_clear.gif" width="2" height="3"> 
	  </td>
	</tr>
      <tr>
	<td width="100%" class="menuBlockHeader">Chat Menu
	  </td>
	</tr>
      <tr>
	<td class="menuTableContainer">
	  <table width="100%" border="0" cellspacing="0" cellpadding="5">
	    <tr>
	      <td class="menuOff">
		<a href="/chat/">Overview</A>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<a href="/chat/?action=installation">Installing IIP & IRC</a>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<a href="/chat/?action=using">Using IIP & IRC</a>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<a href="/chat/?action=channels">DC IIP Channels</a>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<a href="/chat/?action=web_interface">IIP Web Interface</a>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<a href="/chat/?action=ssl_interface">IIP Stunnel Interface</a>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<a href="/chat/?action=credit">IIP Credits</a>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      <tr>
	<td class="leftBlockFooter">
	  <img src="/images/master/spacer_clear.gif" width="3" height="5"> 
	  </td>
	</tr>
</table>