{{section:gpgTabMenuGeneral}}
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
	<tr>
	  <td width="100%" class="subTabSpacer">
	    &nbsp;
	  </td>
	  <td class="subTabLeftOn">
	    &nbsp;<a href="/user/settings/?mode=gpg">General&nbsp;OpenPGP&nbsp;Settings</a>&nbsp;
	  </td>
	  <td class="subTabMidOff">
	    &nbsp;<a href="/user/settings/?mode=gpg&action=keyring">View&nbsp;Keyring</a>&nbsp;
	  </td>
	  <td class="subTabMidOff">
	   <nobr> &nbsp;<a href="/user/settings/?mode=gpg&action=init_encrypt_decrypt_test">OpenPGP&nbsp;Encrypt/Decrypt&nbsp;Test</a>&nbsp;</nobr>
	  </td>
	  <td class="subTabRight">
	    &nbsp;
	  </td>
	</tr>
      </table>
{{/section:gpgTabMenuGeneral}}
{{section:gpgTabMenuKeyring}}
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
	<tr>
	  <td width="100%" class="subTabSpacer">
	    &nbsp;
	  </td>
	  <td class="subTabLeftOff">
	    &nbsp;<a href="/user/settings/?mode=gpg">General&nbsp;OpenPGP&nbsp;Settings</a>&nbsp;
	  </td>
	  <td class="subTabMidOn">
	    &nbsp;<a href="/user/settings/?mode=gpg&action=keyring">View&nbsp;Keyring</a>&nbsp;
	  </td>
	  <td class="subTabMidOff">
	   <nobr> &nbsp;<a href="/user/settings/?mode=gpg&action=init_encrypt_decrypt_test">OpenPGP&nbsp;Encrypt/Decrypt&nbsp;Test</a>&nbsp;</nobr>
	  </td>
	  <td class="subTabRight">
	    &nbsp;
	  </td>
	</tr>
      </table>
{{/section:gpgTabMenuKeyring}}
{{section:gpgTabMenuTest}}
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
	<tr>
	  <td width="100%" class="subTabSpacer">
	    &nbsp;
	  </td>
	  <td class="subTabLeftOff">
	    &nbsp;<a href="/user/settings/?mode=gpg">General&nbsp;OpenPGP&nbsp;Settings</a>&nbsp;
	  </td>
	  <td class="subTabMidOff">
	    &nbsp;<a href="/user/settings/?mode=gpg&action=keyring">View&nbsp;Keyring</a>&nbsp;
	  </td>
	  <td class="subTabMidOn">
	   <nobr> &nbsp;<a href="/user/settings/?mode=gpg&action=init_encrypt_decrypt_test">OpenPGP&nbsp;Encrypt/Decrypt&nbsp;Test</a>&nbsp;</nobr>
	  </td>
	  <td class="subTabRight">
	    &nbsp;
	  </td>
	</tr>
      </table>
{{/section:gpgTabMenuTest}}