
<table width="100%%" border="0" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pageTitle">
	  OpenPGP Public Keyring
	</td>
      </tr>
</table>

{{gpg_submenu}}

<table width="100%%" border="0" cellspacing="0" cellpadding="3">
      <tr>
	<td class="pagePrompt" colspan="3">
	  Public keys are added to your keyring when you send an encrypted message to a Distributed City Nym. Click on the key User ID to view an individual key.
	</td>
      </tr>
      <tr>
	<td class="colHeaderOff">
	  Key&nbsp;User&nbsp;ID
	</td>
	<td class="colHeaderOff">
	  Date&nbsp;Created&nbsp;
	</td>
	<td align="right" class="colHeaderOff">
	  &nbsp;Length
	</td>
      </tr>

{{pubkey_block}}
    <tr>
      <td colspan="3" class="buttonRow">
	&nbsp;
      </td>
    </tr>
  </table>