<BR><BR>
<div align="center">
    <form action="/messaging/?SID={{sid}}" method="post">
      <table width="70%" cellspacing="0" cellpadding="3">
	<tr>
	  <td class="pageTitle">
	    Delete all messages in Deleted folder?
	  </td>
	</tr>
	<tr>
	  <td class="pagePrompt">
	    Confirming deletion will permanently erase all messages in your Deleted folder.
	  </td>
	</tr>
	<tr>
	  <td class="buttonRow" align="right">
	    <input type="submit" value="Cancel" class="formButton">
	    <input type="submit" name="empty_trash_confirm" value="Confirm Delete">
	  </td>
	</tr>
      </table>
    </form>
</center>