<table width="100%" border="0" cellspacing="0" cellpadding="3">
      <tr>
	<td height="5">
	  <img src="/images/master/spacer_clear.gif" width="2" height="3"> 
	  </td>
	</tr>
      <tr>
	<td width="100%" class="menuBlockHeader">
	  Private Messaging:
	  </td>
	</tr>
      <tr>
	<td class="menuTableContainer">
	  <table width="100%" border="0" cellspacing="0" cellpadding="5">
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?action=compose">Compose</A>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?action=addresses">Address Book</A>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?action=directory">User Directory</A>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      <tr>
	<td class="leftBlockFooter">
	  <img src="/images/master/spacer_clear.gif" width="3" height="5"> 
	  </td>
	</tr>
      <tr>
	<td height="5">
	  <img src="/images/master/spacer_clear.gif" width="2" height="3"> 
	  </td>
	</tr>
      <tr>
	<td width="100%" class="menuBlockHeader">
	  Folders:
	  </td>
	</tr>
      <tr>
	<td class="menuTableContainer">
	  <table width="100%" border="0" cellspacing="0" cellpadding="5">
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?folder=1">Inbox</A>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?folder=2">Saved</A>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?folder=3">Sent</A>
		</td>
	      </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/messaging/?folder=4">Deleted</A>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      <tr>
	<td class="leftBlockFooter">
	  <img src="/images/master/spacer_clear.gif" width="3" height="5"> 
	  </td>
	</tr>
    </table>