<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  Book Resources
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  Books the creators of Distributed City recommend to you on various topics.</td>
      </tr>
      <tr>
	<td>
<p>


<p><em>The Sovereign Individual:</em> James Dale Davidson and William Rees-Mogg explore the greatest economic and political transition in centuries -- the shift from an industrial to an information-based society. This transition, which they have termed "the fourth stage of human society," will liberate individuals as never before, irrevocably altering the power of government.

<br>
  http://www.amazon.com/exec/obidos/ASIN/0684832720<br>
http://www.amazon.com/exec/obidos/tg/stores/detail/-/books/0684832720/slide-show/lib_dp_sp_1/104-9815066-0217564#reader-link - View 49 Sample pages at Amazon

</p>
<hr>

<p><em>Atlas Shrugged</em>: The astounding story of a man who said that he would stop the motor of the world--and did. Tremendous in scope, breathtaking in its suspense, Atlas Shrugged stretches the boundaries further than any book you have ever read. It is a mystery, not about the murder of a man's body, but about the murder--and rebirth--of man's spirit. The novel contains the most complete presentation of Rand's rational philosophy, known as objectivism, in fictional form.
<br>
  http://www.amazon.com/exec/obidos/ASIN/0451191145/<p>
  <i>* Atlas Shrugged is the "second most influential book for North Americans today" after the Bible, according to a joint survey conducted by the Library of Congress and the Book of the Month.</i></p>
  
<hr>
  
<p><em>Think and Grow Rich</em>: "Anything your mind can conceive and believe - you can achieve." That is the philosophy of Napoleon Hill, author of the world's #1 motivational book. Napoleon Hill met Andrew Carnegie, and Carnegie challenged him to interview other successful business leaders to find out the the techniques they followed for achieving success. Carnegie offered no financial resources, but did help with making the introductions. Napoleon Hill was thus launched on the adventure of a lifetime that led to this book.<br>
http://www.amazon.com/exec/obidos/ASIN/0879804440/<br>
</p>

<hr>

<p><em>Disappearing Cryptography, Second Edition - Information Hiding: Steganography and Watermarking</em>: This book describes how to take words, sounds, or images and hide them in digital data so they look like other words, sounds, or images. When used properly, this powerful technique makes it almost impossible to trace the author and the recipient of a message. Conversations can be submerged in the flow of information through the Internet so that no one can know if a conversation exists at all. This full revision of the best-selling first edition describes a number of different techniques to hide information.<br>http://www.amazon.com/exec/obidos/ASIN/1558607692<br>
</p>
<hr>


<p><em>Applied Cryptography: Protocols, Algorithms, and Source Code in C, 2nd Edition</em> &#151; Bruce Schneier's Applied Cryptography: Protocols, Algorithms, and Source Code in C offers an authoritative introduction to the field of cryptography, suitable for both the specialist and the general reader. The book adopts an encyclopedic approach to cryptographic systems throughout history, from ciphers to public key cryptography. Schneier also outlines cryptographic protocols--the steps required for secure encryption--with the precision of a chess master.
<br>
  http://www.amazon.com/exec/obidos/ASIN/0471117099/<br>
</p>
<hr>




	</td>
      </tr>
      </table>