<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  The Distributed City Project
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
Distributed City aims to be a fully open source community environment that is built for its users, by its users.
	</td>
      </tr>
      <tr>
	<td>
<p>All community websites benefit from the contributions of their
members.  A posting from Bob is read by Jennifer who responds and a
thread of conversation begins.  The website creators provide the seed
that makes this interaction possible, but it is the members that
breathe life into the website.  Community websites simply aren't very
interesting without the community.</p>

<p>Communities are not static things.  They embody dynamic, vibrant,
complex social interactions.  As the community changes, so too should
the website to accomodate the needs of its members.  This is a
difficult task for website operators.  Given limited resources, how do
we anticipate and accomodate the needs of our disparate users?</p>

<p>Various strategies can be used.  But so long as it is a small, select
group of people making all the decisions and controlling the features
and architecture of the website, then this is a form of centralized
planning.  Some people make the rules and others follow them.  This is
anathema to the creators of Distributed City, who hope to build a
community of freedom seeking individuals, not a storefront or a
dictatorship.</p>

<p>The simple fact is that we, the original creators of Distributed City,
cannot read our members' minds.  We cannot implement every feature
request.  We cannot fix every bug.  There will be things that slip
through the cracks, or that are not high priorities to us, for
whatever reason.  But we recognize that those things may well be
important to one or more of our members.  Therefore, it makes sense
that the person who cares the most about the thing be the one to do
something about it.  It is our duty to just get out of the way and let
them.  As noted open-source advocate Eric Raymond says, "Every good
work of software starts by scratching a developer's personal itch."</p>

<p>Distributed City plans to distinguish itself from other websites by
empowering its members to also become its developers.  DC members
should be able to participate as much or as little as they want in the
process of enhancing this website.</p>

<p>Member participation may include:</p>
<ul>
	      <li>Submitting bug reports when something doesn't work as expected
	      <li>Joining developer chats, forums, and mailing list discussions
	      <li>Inspecting Distributed City code for weaknesses or security flaws
	    <li>Running modified copies of Distributed City at home or on another server
	    <li>Submitting specialized content areas
	    <li>Suggesting, designing, and implementing new features
	    <li>Submitting patches (fixes) for bugs
</ul>

<p>The founders of Distributed City believe strongly in Freedom, Privacy,
Laissez-faire Capitalism, and Open Source.  We believe that motivated
individuals can accomplish anything they set their minds to.  We
believe that creating and nourishing a large community of similar
individuals is a worthwile endeavor.  We recognize we cannot do that
all alone.</p>

<p>We hope you will join us.</p>
<p class="generalSubHeader">Other Possible Services we are considering for the future</p>

	      <ul>
		<li>IIP SSL accessible Proxy for users who cannot run the IIP proxy locally
		<li>IIP Relay
		<li>SSL enabled POP/IMAP server
		<li>NNTP server
		<li>CVS (file space) with a web front-end (lxr, webcvs, bonsai, etc)
		<li>PGP Public Key Server
		<li>Bugzilla
		<li>Squid Proxy Server
		<li>Zope for Web Hosting
		<li>Database (ie postgres)
		<li>OpenNap server (wheee!)
</ul>

<p class="generalSubHeader">DC Version</p>

This server is currently running the following version of DC:<br><br>

<table>
<tr><td><b>DC Version String:</b></td><td>{{app_version_string}}</td></tr>
<tr><td><b>CVS tag:</b></td><td>{{app_version_cvs_tag}}</td></tr>
<tr><td><b>Major Revision:</b></td><td>{{app_version_major}}</td></tr>
<tr><td><b>Minor Revision:</b></td><td>{{app_version_minor}}</td></tr>
<tr><td><b>Date:</b></td><td><nobr>{{app_version_date}}</nobr></td></tr>
</table>


<p class="generalSubHeader">Downloads</p>

<blockquote>
<h4>Release Builds</h4>
{{section:releaseBuilds  autohide="yes"}}
<li><a href="/downloads/release/{{release_ver}}">{{release_ver}}</a>
{{/section:releaseBuilds}}

<h4>Nightly Builds</h4>
{{section:nightlyBuilds autohide="yes"}}
<li><a href="/downloads/release/{{release_ver}}">{{nightly_ver}}</a>
{{/section:nightlyBuilds}}
</blockquote>

<p>
<p class="generalSubHeader">Developer Forums and Discussions</p>


<ul>
<li>SourceForge!  DC now has its own SF <a href="/redirect.php?url=http://www.sourceforge.net/projects/distributedcity/">project page</a>
<li>Distributed City -> Developers in DC Forums
<li>#dc_dev in IIP chat
</ul>

<a name="donate"></a>
<p class="generalSubHeader">Monetary Support</p>

<p>
DC is largely a labor of love by its creators, but running it does cost money.
(It would also be nice to toss a few bucks towards DC's volunteer developers.)
</p>

<p>
Your generous contribution via PayPal, E-Gold, or (better yet) anonymous DMT is greatly appreciated.
</p>

<p>
The specifics:
</p>

<table width="100%" cellpadding="4" border="0">

<tr>
<td>&nbsp;</td>
<td class='tableColumnLabel'><b>Pay To Account:</b></td>
<td class='tableColumnLabel'><b>Instant Donate Method</b></td>
</tr>

<tr>
<td class='tableRowLabel'><b>DMT / ALTA</b></td>
<td>
Any of:
<small>
<xmp>2A28B61C55076A70080A2F204552F14A5D8AB3DF79 (USD)

7AA147CE9A8D03D6C4A56E75CA9D6DE871B495D218 (EURO)

2DB0F2DB2FFC88221617FDFA00F89D58CCD288BC22 (DRAN)

6A11181C7FD4734A757DC7B963E0E50B6B95D5D70B (GOLD)

6F34AFDD8AEC1DC63D449387B06C41B1676FFBE690 (DMT-S)

80CE90FFF0311EA317DE725CDD77492C13C7FC2EA3 (GBP)

7A7DCCF6DE80CAA70985C37801A138FFF12F0CF46C (JPY)

C0A9132F1C0B2A954D9B5332E6FCC5E8FC78B6AEA2 (G-DINAR)</xmp>
</small>
</td>
<td>
Not yet supported. Please visit <a href="/redirect.php?url=http://dmt.orlingrabbe.com/alta/" target="_new">ALTA online.</a>
</td>
</tr>


<tr>
<td class='tableRowLabel'><b>e-gold</b></td>
<td>550720</td>
<td>

<form action="https://www.e-gold.com/sci_asp/payments.asp" method="POST" target="_new">
<nobr>
<input type="hidden" name="PAYEE_ACCOUNT" value="550720">
<input type="hidden" name="PAYEE_NAME" value="Distributed City">
<input type=text name="PAYMENT_AMOUNT" size="8" value="20.00">
<input type=hidden name="PAYMENT_UNITS" value=1> (USD)
<input type=hidden name="PAYMENT_METAL_ID" value=1>
<input type="hidden" name="STATUS_URL" value="mailto:sci@e-gold.com">
<input type="hidden" name="NOPAYMENT_URL"
value="http://www.e-gold.com/unsecure/sci_home.html">
<input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">
<input type="hidden" name="PAYMENT_URL"
value="http://www.e-gold.com/unsecure/sci_home.html">
<input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">
<input type="hidden" name="BAGGAGE_FIELDS" value="CUSTOMERID">
<input type="hidden" name="CUSTOMERID" value="0">
<input type="hidden" name="SUGGESTED_MEMO" value='A (much appreciated) Distributed City donation.'>
<input type="submit" name="PAYMENT_METHOD" value="Donate Now">
</nobr>
</form>

</td>
</tr>


<tr>
<td class='tableRowLabel'><b>PayPal</b></td>
<td>donations@distributedcity.com</td>
<td>

<!-- Begin PayPal Logo -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_new">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="donations@distributedcity.com">
<input type="hidden" name="item_name" value="Donate via Paypal">
<input type="hidden" name="item_number" value="1111">
<input type="hidden" name="return" value="https://www.distributedcity.net/services/?screen=dcp">
<input type="hidden" name="cancel_return" value="https://www.distributedcity.net/services/?screen=dcp">
<input type="hidden" name="no_note" value="1">
<input type="text" name="amount" size="8" value="20.00"> (USD)
<input type="image" src="/images/paypal_donate.gif" border="0" name="submit" alt="Donate via Paypal">
</form>
<!-- End PayPal Logo -->

</td>
</tr>


</table>


	</td>
      </tr>
      </table>