<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  External Services
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
The Digital Monetary Trust: <em>Anonymous Transactions and Trading</em>
	</td>
      </tr>
      <tr>
	<td>

<p><em>Asset Lodgement Trust Account (ALTA) - Anonymous asset accounts</em>: <a href="/redirect.php?url=http://dmt.orlingrabbe.com" target="_new">http://dmt.orlingrabbe.com</a>
</p>

<p>The DMT system is an integrated framework for anonymously holding, exchanging, and trading assets from gold and dollars to euros and offshore warrants. It substitutes cryptological protocols for supposedly "private" and "confidential" bankers and lawyers who weave an expensive, and often insecure, path through the "offshore" world.</p>

<p>The basis of the DMT system is DMT's geographically and politically-distributed server network. Customers access this network through user-friendly interfaces--either the DMT "browser", a dedicated piece of software that may be downloaded from the Internet; or the ALTA system, a web-based interface compatible with commercial web browsers like Opera, Microsoft's Internet Explorer, or Netscape's Navigator/Mozilla. </p>

<p><em>Laissez-faire Electronic Stock Exchange (LESE) - Currency and equity trading</em>: <a href="/redirect.php?url=http://dmt.orlingrabbe.com" target="_new">http://dmt.orlingrabbe.com</a></p>

<p>A generalized market for trading - whether assets or for IPOs. There are currently markets for all those currencies (and gold) found in the DMT Rand, as well as for the DMT Rand composite currency. Anyone with an ALTA account holding the requisite dollars for buying, or requisite assets for selling, may post anonymous bids and offers. The ALTA/LESE system automatically escrows payment amounts or assets so that no asset may be sold twice, and bids can't be entered without the available resources to make payment. </p>

	</td>
      </tr>
      </table>