<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  Other Services of the Liquid Privacy Group:
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  This page serves as a directory of interesting services provided by Distributed City, it's parent company Liquid Privacy, and other organizations. This page is a bit messy now, but we'll organize things shortly. Enjoy.
	</td>
      </tr>
      <tr>
	<td>
<p><b>Liquid Privacy</b> &#151; 'The Asset Transfer Hub' that brings disparate electronic
  payment systems together and bridges the anonymous cyber-economy and the traditional
  banking system. 
  Initially offering a range of offshore anonymous debit cards linked to a Digital 
  Monetary Trust (DMT) account, thus allowing convenient point-of-sale access 
  to DMT/ALTA funds.<br>
  http://www.liquidprivacy.net<br>
</p>

<span class="subHeader">External Services</span>
  
<p>NOTE: These are external links outside of Distributed City. We can take no 
  responsibility for the content or privacy policies of these sites.</p>
<p><b>OpenPGP encrypted email</b>:<br>
  <a href="https://ssl.mailvault.com">https://ssl.mailvault.com</a><br>
</p>
<p><b>Anonymous asset accounts</b>:<br>
  <a href="https://ssl.alta.lfcity.com">https://ssl.alta.lfcity.com</a><br>
</p>
<p><b>Anonymous currency and equity trading</b>:<br>
  <a href="https://ssl.lese.lfcity.com">https://ssl.lese.lfcity.com</a></p>
<span class="subHeader">Useful Resources for Sovereign Individuals and Multinational Business people</span>
<p>NOTE: These are external links outside of Distributed City. We can take no 
  responsibility for the content or privacy policies of these sites.</p>
<p><b>Interactive Maps:</b><br>
  <a href="http://maps.yahoo.com">http://maps.yahoo.com</a><br>
  <a href="http://www.mapquest.com/maps">http://www.mapquest.com/maps</a><br>
</p>
<p><b>International Cyber/Internet Caf&eacute; Locators:</b><br>
  <a href="http://cybercaptive.com/">http://cybercaptive.com/</a> - 6428 verified 
  cybercafes, public internet access points and kiosks in 167 countries<br>
  <a href="http://www.cybercafes.com/">http://www.cybercafes.com/</a> - 4211 internet 
  cafes in 149 countries. <br>
</p>
<p><b>International ATM (cash point) locators</b>:<br>
  <b>Visa/Plus</b> - <a href="http://visaatm.infonow.net/bin/findNow?CLIENT_ID=VISA">http://visaatm.infonow.net/bin/findNow?CLIENT_ID=VISA</a><br>
  <b>MasterCard/Maestro/Cirrus</b> - <a href="http://www.mastercard.com/cardholderservices/atm/">http://www.mastercard.com/cardholderservices/atm/</a><br>
</p>
<p><b>International Weather:</b><br>
  <a href="http://www.weather.com/services/">http://www.weather.com/services/</a><br>
  <a href="http://www.theweathernetwork.com/cities/intlindex.htm">http://www.theweathernetwork.com/cities/intlindex.htm</a><br>
</p>
<p><b>International Time Zones:</b><br>
  <a href="http://www.timeanddate.com/worldclock/"> http://www.timeanddate.com/worldclock/</a><br>
</p>
<p><b>International Dialing Codes:</b><br>
  <a href="http://www.the-acr.com/codes/cntrycd.htm">http://www.the-acr.com/codes/cntrycd.htm</a><br>
  <a href="http://www.the-acr.com/codes/resource.htm">http://www.the-acr.com/codes/resource.htm</a><br>
</p>
<p><b>International Currency Converters:</b><br>
  <a href="http://www.xe.com">http://www.xe.com</a><br>
  <a href="http://www.bloomberg.com/markets/currency/currcalc.html">http://www.bloomberg.com/markets/currency/currcalc.html</a><br>
</p>
<p><b>Online Dictionary of Computing/Internet:</b><br>
  <a href="http://foldoc.doc.ic.ac.uk/foldoc/index.html">http://foldoc.doc.ic.ac.uk/foldoc/index.html</a><br>
</p>
<p><b>Internet Domain whois (for Due Diligence):</b><br>
  <a href="http://www.iana.org/root-whois/">http://www.iana.org/root-whois/</a><br>
  <a href="https://onewhois.securenow.com">https://onewhois.securenow.com</a><br>
</p>
<p><b>World Law:</b><br>
  <a href="http://www.austlii.edu.au/links/215.html">http://www.austlii.edu.au/links/215.html</a><br>
</p>
<p><b>International Offshore Regulators (for Due Diligence):</b><br>
  <a href="http://www.financialintermediary.org/OIRegulators.htm">http://www.financialintermediary.org/OIRegulators.htm</a><br>
</p>
<p><b>Online ratings and reviews:</b><br>
  <a href="http://www.epinions.com/">http://www.epinions.com/</a><br>
</p>
<span class="subHeader">Distractions/Lifestyle</span>
<p><b>The Sovereign Individual:</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0684832720/">http://www.amazon.com/exec/obidos/ASIN/0684832720/</a><br>
</p>
<p><b>Think and Grow Rich:</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0879804440/">http://www.amazon.com/exec/obidos/ASIN/0879804440/</a><br>
</p>
<p><b>Atlas Shrugged:</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0451191145/">http://www.amazon.com/exec/obidos/ASIN/0451191145/</a><br>
</p>
<p><b>The Fisher Space Pen</b><br>
  <a href="http://www.spacepen.com/usa/catalog/1004/cat_1005.htm">http://www.spacepen.com/usa/catalog/1004/cat_1005.htm</a><br>
</p>
<p><b>Portable Disk Storage:</b><br>
  <b>The Apple iPod</b> (FireWire storage 10Gb hidden inside a slimline MP3 player):<br>
  <a href="http://www.apple.com/ipod/">http://www.apple.com/ipod/</a><br>
  <b>Trek Thumbdrive</b> (USB removable solid-state size of your thumb from 8MB 
  to 512MB).<br>
  <a href="http://www.thumbdrive.com/">http://www.thumbdrive.com/</a><br>
  <b>M-Systems DiskOnKey</b> (USB removable solid-state from 8Mb to 128Mb)<br>
  <a href="http://www.diskonkey.com/">http://www.diskonkey.com/<br>
  </a> </p>
<p><b>Portable GPS receivers</b><br>
  <b>Garmin Street Pilot III GPS:</b><br>
  <a href="http://www.garmin.com/products/spIII/">http://www.garmin.com/products/spIII/</a><br>
  <b>Magellan Palm GPS Companion for Palm V or Palm Vx Handheld:</b><br>
  <a href="http://www.magellangps.com/products/gps_companion.htm">http://www.magellangps.com/products/gps_companion.htm</a><br>
</p>
<p><b>In Your Pocket City Guides:</b><br>
  <a href="http://www.inyourpocket.com">http://www.inyourpocket.com</a><br>
</p>
<p><b>Langenscheidt's Lilliput dictionaries;</b><br>
  * Ultra lightweight, compact format - 4 x 5 cm,<br>
  * Blue/Red etc. vinyl cover, 600+ tiny pages,<br>
  * A fairly complete dictionary despite its small size,<br>
  * Over 6,500 words defined in each language (estimate).<br>
  <b>Lilliput Little Webster's English</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0887295215/">http://www.amazon.com/exec/obidos/ASIN/0887295215/</a><br>
  <b>Lilliput English-Spanish</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0887294235/">http://www.amazon.com/exec/obidos/ASIN/0887294235/</a><br>
  <b>Lilliput English-Italian</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0887294154/">http://www.amazon.com/exec/obidos/ASIN/0887294154/</a><br>
  <b>Lilliput English-French</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0887294081/">http://www.amazon.com/exec/obidos/ASIN/0887294081/</a></p>
  <b>Lilliput German-English</b><br>
  <a href="http://www.amazon.com/exec/obidos/ASIN/0887294030/">http://www.amazon.com/exec/obidos/ASIN/0887294030/</a><br>
	</td>
      </tr>
      </table>