<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  Useful Resources
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
Useful Resources for Sovereign Individuals and Travelling Business people.
	</td>
      </tr>
      <tr>
	<td>

<p><b>Interactive Maps:</b><br>
  http://maps.yahoo.com<br>
  http://www.mapquest.com/maps<br>
</p>
<p><b>International Cyber/Internet Caf&eacute; Locators:</b><br>
  http://cybercaptive.com/ - 6428 verified 
  cybercafes, public internet access points and kiosks in 167 countries<br>
  http://www.cybercafes.com/ - 4211 internet 
  cafes in 149 countries. <br>
</p>
<p><b>International ATM (cash point) locators</b>:<br>
  <b>Visa/Plus</b> - http://visaatm.infonow.net/bin/findNow?CLIENT_ID=VISA<br>
  <b>MasterCard/Maestro/Cirrus</b> - http://www.mastercard.com/cardholderservices/atm/<br>
</p>
<p><b>International Weather:</b><br>
  http://www.weather.com/services/<br>
  http://www.theweathernetwork.com/cities/intlindex.htm<br>
</p>
<p><b>International Time Zones:</b><br>
  http://www.timeanddate.com/worldclock/<br>
</p>
<p><b>International Dialing Codes:</b><br>
  http://www.the-acr.com/codes/cntrycd.htm<br>
  http://www.the-acr.com/codes/resource.htm<br>
</p>
<p><b>International Currency Converters:</b><br>
  http://www.xe.com<br>
  http://www.bloomberg.com/markets/currency/currcalc.html<br>
</p>
<p><b>Online Dictionary of Computing/Internet:</b><br>
  http://foldoc.doc.ic.ac.uk/foldoc/index.html<br>
</p>
<p><b>Internet Domain whois (for Due Diligence):</b><br>
  http://www.iana.org/root-whois/<br>
  https://onewhois.securenow.com<br>
</p>
<p><b>World Law:</b><br>
  http://www.austlii.edu.au/links/215.html<br>
</p>
<p><b>International Offshore Regulators (for Due Diligence):</b><br>
  http://www.financialintermediary.org/OIRegulators.htm<br>
</p>










<p><b>The Fisher Space Pen</b><br>
  http://www.spacepen.com/usa/catalog/1004/cat_1005.htm<br>
</p>
<p><b>Portable Disk Storage:</b><br>
  <b>The Apple iPod</b> (FireWire storage 10Gb hidden inside a slimline MP3 player):<br>
  http://www.apple.com/ipod/<br>
  <b>Trek Thumbdrive</b> (USB removable solid-state size of your thumb from 8MB 
  to 512MB).<br>
  http://www.thumbdrive.com/<br>
  <b>M-Systems DiskOnKey</b> (USB removable solid-state from 8Mb to 128Mb)<br>
  http://www.diskonkey.com/<br>
   </p>
<p><b>Portable GPS receivers</b><br>
  <b>Garmin Street Pilot III GPS:</b><br>
  http://www.garmin.com/products/spIII/<br>
  <b>Magellan Palm GPS Companion for Palm V or Palm Vx Handheld:</b><br>
  http://www.magellangps.com/products/gps_companion.htm<br>
</p>
<p><b>In Your Pocket City Guides:</b><br>
  http://www.inyourpocket.com<br>
</p>
<p><b>Langenscheidt's Lilliput dictionaries;</b><br>
  * Ultra lightweight, compact format - 4 x 5 cm,<br>
  * Blue/Red etc. vinyl cover, 600+ tiny pages,<br>
  * A fairly complete dictionary despite its small size,<br>
  * Over 6,500 words defined in each language (estimate).<br>
  <b>Lilliput Little Webster's English</b><br>
  http://www.amazon.com/exec/obidos/ASIN/0887295215/<br>
  <b>Lilliput English-Spanish</b><br>
  http://www.amazon.com/exec/obidos/ASIN/0887294235/<br>
  <b>Lilliput English-Italian</b><br>
  http://www.amazon.com/exec/obidos/ASIN/0887294154/<br>
  <b>Lilliput English-French</b><br>
  http://www.amazon.com/exec/obidos/ASIN/0887294081/</p>
  <b>Lilliput German-English</b><br>
  http://www.amazon.com/exec/obidos/ASIN/0887294030/<br>
	</td>
      </tr>
      </table>