<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  Liquid Privacy
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
Liquid Privacy: <em>The private asset transfer hub.</em>.
	</td>
      </tr>
      <tr>
	<td>

<p>Today, you use established payment systems such as e-gold, PayPal, and DMT ALTA for personal payments. Such systems allow you to transfer assets between accounts within the same system, but moving assets to another payment system, or spending the funds in brick-and-mortar stores can be difficult.</p>
<p>Liquid Privacy is the hub that bridges these systems for fast, convenient transfers between them. Selected Cirrus and Plus-network payment cards supported.</p>
  
<p><a href="/redirect.php?url=http://www.liquidprivacy.net" target="_new">http://www.liquidprivacy.net</a></p>
	</td>
      </tr>
      </table>