<table width="100%" cellpadding="3" cellspacing="0">
      <tr>
	<td class="pageTitle">
	  Security Resources
	</td>
      </tr>
      <tr>
	<td class="pagePrompt">
	  Crypto, Stego, cracking, you name it. If it has to do with making a system secure, hiding information, or nifty ways of circumventing restrictive technology, it goes here.
	</td>
      </tr>
      <tr>
	<td>
<p><b>GPG</b> &#151; The GNU Privacy Guard (GnuPG, or GPG) is a complete and free replacement for PGP and implementation of OpenPGP. Because it does not use the patented IDEA algorithm, it can be used without any restrictions. GnuPG is a RFC2440 (OpenPGP) compliant application.
GnuPG is Free Software. It can be freely used, modified and distributed under the terms of the GNU General Public License.
PGP, on which OpenPGP is based, was originally developed by Philip Zimmermann; see his page for background information on PGP.
<br>
Distributed City uses GPG for its private messaging.
<br>
  http://www.gnupg.org/<br>
</p>
<hr>

<!--<p><b>MailVault PGP Webmail</b> &#151; OpenPGP encrypted web based email</b>:<br>
  https://ssl.mailvault.com<br>
</p>
-->


<p><b>OpenSSH</b> &#151; - OpenSSH is a FREE version of the SSH protocol suite of network connectivity tools that increasing numbers of people on the Internet are coming to rely on. Many users of telnet, rlogin, ftp, and other such programs might not realize that their password is transmitted across the Internet unencrypted, but it is. OpenSSH encrypts all traffic (including passwords) to effectively eliminate eavesdropping, connection hijacking, and other network-level attacks. Additionally, OpenSSH provides a myriad of secure tunneling capabilities, as well as a variety of authentication methods. 


<br>
  http://www.openssh.com/<br>
</p>
<hr>


<p><b>MUNITIONS - Cryptographic Software for Linux</b> &#151; Vipul's Munitions is one of the several public mirrors of the linux cryptography archives known as munitions.<br>
application categories: 59<br>
number of applications: 243<br>
size of the archive: 3.4 Gb.<br>
last update: Thu Aug 1 11:57:13 CEST 2002<br>
http://munitions.vipul.net/<br></p>

</td>
      </tr>
      </table>