{{section:tabMenuNews}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOn">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/messaging/">Messaging</a>
		</td>
		<td class="tabOffNoneGrey">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuNews}}
{{section:tabMenuForums}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOn">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuForums}}
{{section:tabMenuWeblogs}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOn">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuWeblogs}}		
{{section:tabMenuMessaging}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOn">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuMessaging}}
{{section:tabMenuChat}}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOn">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuChat}}
{{section:tabMenuServices}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOn">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuServices}}
{{section:tabMenuSearch}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOn">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuSearch}}
{{section:tabMenuSettings}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOn">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOffRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuSettings}}
{{section:tabMenuHelp}}<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tabSpacer" width="100%">
			&nbsp; 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/">News</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/forums/">Forums</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/news/weblogs/">Weblogs</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/messaging/">Messaging</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/chat/">Chat</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/services/">Other&nbsp;Services</a> 
		</td>
		<td class="tabOffGreyNone">
			<a href="/search/">Search</a> 
		</td>
		<td class="tabOffNoneGrey">
			<a href="/user/settings/">Settings</a> 
		</td>
		<td class="tabOnRight">
			<a href="/help/">Help</a> 
		</td>
	</tr>
</table>{{/section:tabMenuHelp}}