{{section:comment_form}}
<script language="JavaScript" type="text/javascript">
<!--
// bbCode control by
// subBlue design
// www.subBlue.com

// Startup variables
var imageTag = false;
var theSelection = false;

// Check for Browser & Platform for PC & IE specific bits
// More details from: http://www.mozilla.org/docs/web-developer/sniffer/browser_type.html
var clientPC = navigator.userAgent.toLowerCase(); // Get client info
var clientVer = parseInt(navigator.appVersion); // Get browser version

var is_ie = ((clientPC.indexOf("msie") != -1) && (clientPC.indexOf("opera") == -1));
var is_nav  = ((clientPC.indexOf('mozilla')!=-1) && (clientPC.indexOf('spoofer')==-1)
                && (clientPC.indexOf('compatible') == -1) && (clientPC.indexOf('opera')==-1)
                && (clientPC.indexOf('webtv')==-1) && (clientPC.indexOf('hotjava')==-1));

var is_win   = ((clientPC.indexOf("win")!=-1) || (clientPC.indexOf("16bit") != -1));
var is_mac    = (clientPC.indexOf("mac")!=-1);


// Helpline messages
b_help = "Bold text: [b]text[/b]  (alt+b)";
i_help = "Italic text: [i]text[/i]  (alt+i)";
u_help = "Underline text: [u]text[/u]  (alt+u)";
q_help = "Quote text: [quote]text[/quote]  (alt+q)";
c_help = "Code display: [code]code[/code]  (alt+c)";
l_help = "List: [list]text[/list] (alt+l)";
o_help = "Ordered list: [list=]text[/list]  (alt+o)";
p_help = "Insert image: [img]http://image_url[/img]  (alt+p)";
w_help = "Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]  (alt+w)";
a_help = "Close all open bbCode tags";
s_help = "Font color: [color=red]text[/color]  Tip: you can also use color=#FF0000";
f_help = "Font size: [size=x-small]small text[/size]";

// Define the bbCode tags
bbcode = new Array();
bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]');
imageTag = false;

// Shows the help messages in the helpline window
function helpline(help) {
	document.post.helpbox.value = eval(help + "_help");
}


// Replacement for arrayname.length property
function getarraysize(thearray) {
	for (i = 0; i < thearray.length; i++) {
		if ((thearray[i] == "undefined") || (thearray[i] == "") || (thearray[i] == null))
			return i;
		}
	return thearray.length;
}

// Replacement for arrayname.push(value) not implemented in IE until version 5.5
// Appends element to the array
function arraypush(thearray,value) {
	thearray[ getarraysize(thearray) ] = value;
}

// Replacement for arrayname.pop() not implemented in IE until version 5.5
// Removes and returns the last element of an array
function arraypop(thearray) {
	thearraysize = getarraysize(thearray);
	retval = thearray[thearraysize - 1];
	delete thearray[thearraysize - 1];
	return retval;
}


function checkForm() {

	formErrors = false;

	if (document.post.message.value.length < 2) {
		formErrors = "You must enter a message when posting";
	}

	if (formErrors) {
		alert(formErrors);
		return false;
	} else {
		bbstyle(-1);
		//formObj.preview.disabled = true;
		//formObj.submit.disabled = true;
		return true;
	}
}

function emoticon(text) {
	text = ' ' + text + ' ';
	if (document.post.message.createTextRange && document.post.message.caretPos) {
		var caretPos = document.post.message.caretPos;
		caretPos.text = caretPos.text.charAt(caretPos.text.length - 1) == ' ' ? text + ' ' : text;
		document.post.message.focus();
	} else {
	document.post.message.value  += text;
	document.post.message.focus();
	}
}

function bbfontstyle(bbopen, bbclose) {
	if ((clientVer >= 4) && is_ie && is_win) {
		theSelection = document.selection.createRange().text;
		if (!theSelection) {
			document.post.message.value += bbopen + bbclose;
			document.post.message.focus();
			return;
		}
		document.selection.createRange().text = bbopen + theSelection + bbclose;
		document.post.message.focus();
		return;
	} else {
		document.post.message.value += bbopen + bbclose;
		document.post.message.focus();
		return;
	}
	storeCaret(document.post.message);
}


function bbstyle(bbnumber) {

	donotinsert = false;
	theSelection = false;
	bblast = 0;

	if (bbnumber == -1) { // Close all open tags & default button names
		while (bbcode[0]) {
			butnumber = arraypop(bbcode) - 1;
			document.post.message.value += bbtags[butnumber + 1];
			buttext = eval('document.post.addbbcode' + butnumber + '.value');
			eval('document.post.addbbcode' + butnumber + '.value ="' + buttext.substr(0,(buttext.length - 1)) + '"');
		}
		imageTag = false; // All tags are closed including image tags :D
		document.post.message.focus();
		return;
	}

	if ((clientVer >= 4) && is_ie && is_win)
		theSelection = document.selection.createRange().text; // Get text selection

	if (theSelection) {
		// Add tags around selection
		document.selection.createRange().text = bbtags[bbnumber] + theSelection + bbtags[bbnumber+1];
		document.post.message.focus();
		theSelection = '';
		return;
	}

	// Find last occurance of an open tag the same as the one just clicked
	for (i = 0; i < bbcode.length; i++) {
		if (bbcode[i] == bbnumber+1) {
			bblast = i;
			donotinsert = true;
		}
	}

	if (donotinsert) {		// Close all open tags up to the one just clicked & default button names
		while (bbcode[bblast]) {
				butnumber = arraypop(bbcode) - 1;
				document.post.message.value += bbtags[butnumber + 1];
				buttext = eval('document.post.addbbcode' + butnumber + '.value');
				eval('document.post.addbbcode' + butnumber + '.value ="' + buttext.substr(0,(buttext.length - 1)) + '"');
				imageTag = false;
			}
			document.post.message.focus();
			return;
	} else { // Open tags

		if (imageTag && (bbnumber != 14)) {		// Close image tag before adding another
			document.post.message.value += bbtags[15];
			lastValue = arraypop(bbcode) - 1;	// Remove the close image tag from the list
			document.post.addbbcode14.value = "Img";	// Return button back to normal state
			imageTag = false;
		}

		// Open tag
		document.post.message.value += bbtags[bbnumber];
		if ((bbnumber == 14) && (imageTag == false)) imageTag = 1; // Check to stop additional tags after an unclosed image tag
		arraypush(bbcode,bbnumber+1);
		eval('document.post.addbbcode'+bbnumber+'.value += "*"');
		document.post.message.focus();
		return;
	}
	storeCaret(document.post.message);
}

// Insert at Claret position. Code from
// http://www.faqts.com/knowledge_base/view.phtml/aid/1052/fid/130
function storeCaret(textEl) {
	if (textEl.createTextRange) textEl.caretPos = document.selection.createRange().duplicate();
}

//-->
</script> 
<!-- BEGIN comment_form SECTION -->
<form method="post" action="?SID={{sid}}">
<input type="hidden" name="new_post_parent_id" value="{{new_post_parent_id}}"> <input type="hidden" name="new_post_parent_type" value="{{new_post_parent_type}}"> 

				<table align="center" border="0" cellpadding="3" cellspacing="0" width="100%">
					<tr>
						<td colspan="2" class="formHeader">
							{{form_title_text}} 
						</td>
					</tr>
					<tr>
						<td align="right" class="formRow">
							<span class="formFieldLabel">Author:</span> 
						</td>
						<td align="left" class="formRow">
							<span class="formFieldValue">{{current_user}}</span> 
						</td>
					</tr>
					<tr>
						<td align="right" class="formRow">
							<span class="formFieldLabel">Subject:</span> 
						</td>
						<td align="left" class="formRow">
							<input type="text" name="new_post_subject" size="50" maxlength="50" value="{{new_post_subject_default}}"> 
						</td>
					</tr>
					<tr>
						<td valign="top" align="right">
							<span class="formFieldLabel">Crosspost:</span>
						</td>
						<td valign="top">
							<select name="crosspost_selection"> 
								<option>
									None
								</option>
								<option>
									Law:Privacy
								</option>
								<option>
									Finance:General
								</option>
								<option>
									Philosophy: Principles of Freedom
								</option>
								<option>
									Technology:Artificial Intelligence
								</option>
								<option>
									Technology: Linux
								</option>
								<option>
									Technology: Macintosh
								</option>
								<option>
									Technology: Microsoft
								</option>
								<option>
									Technology: Cryptography
								</option>
							</select> 
						</td>
					</tr>
					<tr>
						<td valign="top" align="right" colspan="2">
							<table border="0" cellspacing="0" cellpadding="2">
								<tr align="center" valign="middle">
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" onmouseover="helpline('b')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" onmouseover="helpline('i')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" onmouseover="helpline('u')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" onmouseover="helpline('p')" /> </span> 
									</td>
									<td>
										<span class="genmed"> <input type="button" class="postButton" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" onmouseover="helpline('w')" /> </span> 
									</td>
								</tr>
								<tr>
									<td colspan="9">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td>
													<span class="genmed"> &nbsp;Font colour: <select name="addbbcode18" onchange="bbfontstyle('[color=' + this.form.addbbcode18.options[this.form.addbbcode18.selectedIndex].value + ']', '[/color]')" onmouseover="helpline('s')"> 
															<option style="color:black; background-color: #FFFFFF " value="#444444" class="genmed">
																Default 
															</option>
															<option style="color:darkred; background-color: #DEE3E7" value="darkred" class="genmed">
																Dark Red 
															</option>
															<option style="color:red; background-color: #DEE3E7" value="red" class="genmed">
																Red 
															</option>
															<option style="color:orange; background-color: #DEE3E7" value="orange" class="genmed">
																Orange 
															</option>
															<option style="color:brown; background-color: #DEE3E7" value="brown" class="genmed">
																Brown 
															</option>
															<option style="color:yellow; background-color: #DEE3E7" value="yellow" class="genmed">
																Yellow 
															</option>
															<option style="color:green; background-color: #DEE3E7" value="green" class="genmed">
																Green 
															</option>
															<option style="color:olive; background-color: #DEE3E7" value="olive" class="genmed">
																Olive 
															</option>
															<option style="color:cyan; background-color: #DEE3E7" value="cyan" class="genmed">
																Cyan 
															</option>
															<option style="color:blue; background-color: #DEE3E7" value="blue" class="genmed">
																Blue 
															</option>
															<option style="color:darkblue; background-color: #DEE3E7" value="darkblue" class="genmed">
																Dark Blue 
															</option>
															<option style="color:indigo; background-color: #DEE3E7" value="indigo" class="genmed">
																Indigo 
															</option>
															<option style="color:violet; background-color: #DEE3E7" value="violet" class="genmed">
																Violet 
															</option>
															<option style="color:white; background-color: #DEE3E7" value="white" class="genmed">
																White 
															</option>
															<option style="color:black; background-color: #DEE3E7" value="black" class="genmed">
																Black 
															</option>
														</select> &nbsp;Font size: <select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]')" onmouseover="helpline('f')"> 
															<option value="7" class="genmed">
																Tiny 
															</option>
															<option value="9" class="genmed">
																Small 
															</option>
															<option value="12" selected class="genmed">
																Normal 
															</option>
															<option value="18" class="genmed">
																Large 
															</option>
															<option value="24" class="genmed">
																Huge 
															</option>
														</select> </span> 
												</td>
												<td nowrap align="right">
													<span class="gensmall"><a href="javascript:bbstyle(-1)" class="genmed" onmouseover="helpline('a')">Close Tags</a></span> 
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="9">
										<span class="gensmall"> <input type="text" name="helpbox" size="45" maxlength="100" style="width:450px; font-size:10px" class="helpline" value="Tip: Styles can be applied quickly to selected text" /> </span> 
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<table width="100" border="0" cellspacing="0" cellpadding="5">
								<tr align="center">
									<td colspan="4" class="gensmall">
										<b>Emoticons</b> 
									</td>
								</tr>
								<tr align="center" valign="middle">
									<td>
										<a href="javascript:emoticon(':D')"><img src="images/smiles/icon_biggrin.gif" border="0" alt="Very Happy" title="Very Happy" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':)')"><img src="images/smiles/icon_smile.gif" border="0" alt="Smile" title="Smile" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':(')"><img src="images/smiles/icon_sad.gif" border="0" alt="Sad" title="Sad" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':o')"><img src="images/smiles/icon_surprised.gif" border="0" alt="Surprised" title="Surprised" /></a> 
									</td>
								</tr>
								<tr align="center" valign="middle">
									<td>
										<a href="javascript:emoticon('8O')"><img src="images/smiles/icon_eek.gif" border="0" alt="Shocked" title="Shocked" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':?')"><img src="images/smiles/icon_confused.gif" border="0" alt="Confused" title="Confused" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon('8)')"><img src="images/smiles/icon_cool.gif" border="0" alt="Cool" title="Cool" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':lol:')"><img src="images/smiles/icon_lol.gif" border="0" alt="Laughing" title="Laughing" /></a> 
									</td>
								</tr>
								<tr align="center" valign="middle">
									<td>
										<a href="javascript:emoticon(':x')"><img src="images/smiles/icon_mad.gif" border="0" alt="Mad" title="Mad" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':P')"><img src="images/smiles/icon_razz.gif" border="0" alt="Razz" title="Razz" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':oops:')"><img src="images/smiles/icon_redface.gif" border="0" alt="Embarassed" title="Embarassed" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':cry:')"><img src="images/smiles/icon_cry.gif" border="0" alt="Crying or Very sad" title="Crying or Very sad" /></a> 
									</td>
								</tr>
								<tr align="center" valign="middle">
									<td>
										<a href="javascript:emoticon(':evil:')"><img src="images/smiles/icon_evil.gif" border="0" alt="Evil or Very Mad" title="Evil or Very Mad" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':twisted:')"><img src="images/smiles/icon_twisted.gif" border="0" alt="Twisted Evil" title="Twisted Evil" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':roll:')"><img src="images/smiles/icon_rolleyes.gif" border="0" alt="Rolling Eyes" title="Rolling Eyes" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':wink:')"><img src="images/smiles/icon_wink.gif" border="0" alt="Wink" title="Wink" /></a> 
									</td>
								</tr>
								<tr align="center" valign="middle">
									<td>
										<a href="javascript:emoticon(':!:')"><img src="images/smiles/icon_exclaim.gif" border="0" alt="Exclamation" title="Exclamation" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':?:')"><img src="images/smiles/icon_question.gif" border="0" alt="Question" title="Question" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':idea:')"><img src="images/smiles/icon_idea.gif" border="0" alt="Idea" title="Idea" /></a> 
									</td>
									<td>
										<a href="javascript:emoticon(':arrow:')"><img src="images/smiles/icon_arrow.gif" border="0" alt="Arrow" title="Arrow" /></a> 
									</td>
								</tr>
							</table>
						</td>
						<td>
							<textarea name="message" rows="20" cols="60" style="color: #666; font-family: " trebuchet ms", verdana, lucida, helvetica, arial, sans-serif; font-size: 12px;">
							</textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="buttonRow" align="right">
			<input type="submit" name="cancel" value="Cancel"> <input type="submit" name="new_post" value="{{submit_button_text}}"> 
						</td>
					</tr>
				</table>
			</form>
<!-- END comment_form SECTION -->
{{/section:comment_form}}