<html>
<head>
    <title>Distributed City</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="/dcStyles.css" type="text/css">
</head>
<body text="#003333">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	<td class="headerLeft">
	  <img src="/images/master/headerLeft.gif" width="347" height="50"> 
	  </td>
	<td align="right" class="headerRight">
	  <img src="/images/master/headerRight.gif" width="328" height="50"> 
	  </td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	<td class="sidebarLeft" valign="top">
	  &nbsp; 
	  </td>
	<td class="content" valign="top">
	  <table width="100%" border="0" cellspacing="0" cellpadding="3">
	    <tr>
	      <td class="pageTitle">OK, {{username}}, you're in!
		</td>
	      </tr>
	    <tr>
	      <td class="pagePrompt">
		Please read the Introduction and Statement of Principles below.
		</td>
	      </tr>
	    <tr>
	      <td>
       <p class="subHeader">Introduction</p>
       <p>Distributed City is a Nexus of Sovereign Individuals. It is a streamlined, secure community environment for sovereign individuals and entrepreneurs.
       </p>
       <p>The following initial services are available for pseudo-anonymous discussion, and communications between our users:
       </p>
       <p><em>News</em> - for making quick and relevant comments on breaking news,<br>
       <em>Forums</em> - for ongoing in-depth discussions and commentary,<br>
       <em>Weblogs</em> - publish your own articles, and commentary (and submit articles to News),<br>
       <em>Messaging</em> - for OpenPGP secured private communications* with other users,<br>
       <em>Chat</em> - for quick temporary conversations using IIP (the Invisible Internet Project)
       </p>
       <p><em>Other Services</em> are described from the tab of the same name 
              (including access to the Distributed City source code).
       </p>

       <p>We, the creators of Distributed City believe in free speech and the political system of laissez-faire capitalism, 
       including the philosophy of contract autonomy, as opposed to that of regulation. We are committed to anonymity 
       and personal privacy, but this commitment includes an expectation of personal responsibility in the actions of our users.
       </p>
       <p>Distributed City is private property. This is a private community with a very simple entrance requirement: 
       read, understand and follow our statement of principles. Our goal is to foster a community where intelligent, principled, honest, 
       rational creators, innovators, and entrepreneurs can talk freely, debate rationally and productively, and do business 
       with one another with a degree of privacy unavailable anywhere else on the Net. 
       </p>
       <p>Distributed City aims to be a fully open source community environment that is built for its users, by its users. 
       We, the creators and initial maintainers of this community, will do our level best, with your help, to make Distributed City 
       all of this and more.
       </p>
       <p>
       As Distributed City is open source, it is our hope that these basic features will quickly be improved and extended, and new features will be added
       to create a community which will be able to support rich personal and business interaction.
       </p>
       <p class="subHeader">Rules versus Principles
       </p>
       <p>We believe that instead of being governed by rules, any community of self-respecting rational humans will instead prefer to govern 
       themselves according to principles. Principles are abstract guides to action, while rules are highly specific and brittle, 
       proscribing a particular action in a particular context.</p>
       <p>When principles are ignored or forgotten, then rules take their place.
       </p>
       <p>We do not expect that Distributed City will suffer the presence of the type of people who must be governed by rules. The only 
       rule which we have is to read and understand the Distributed City statement of principles below, and agree that by entering and using 
       the services you will abide by these principles in your dealings with others within Distributed City.
       </p>
       <p>We, the initial creators and moderators of Distributed City, will also conduct ourselves according to these principles.
       </p>
       <p class="subHeader">Statement of Principles</p>

       <p><em>1. Use reason to obtain knowledge, discuss knowledge with others, convince others of your point of view, and decide proper goals and actions in life.</em></p>

       <p><em>2. Accept the responsibility of forming your own judgments and living by the work of your own mind.</em></p>

       <p><em>3. Remain loyal in action and speech to your convictions and values. Conduct yourself with integrity.</em></p>

       <p><em>4. Respect reality by remaining honest in thought, word, and deed. Do as you say you will do.</em></p>

       <p><em>5. Rationally evaluate the actions of others, and judge them accordingly.</em></p>

       <p><em>6. Produce values by shaping nature to fit your values and goals.</em></p>

       <p><em>7. Recognize the initiation of force as the primary evil.</em></p>

       <p><em>8. Respect privacy.</em>
       
       <p><em>TIP:</em> <span class="tipText"> Read a more detailed explanation and treatise in the 'Distributed City' > 'Beginners' Forum.</span></p>

       <hr>
       <p>If the majority of individuals who use Distributed City follow these principles, we will have a good community. If everyone follows these principles, we will have something unique and very powerful of which we can all be proud.</p>

       <p>It is mainly up to you, as an individual using and contributing to Distributed City.</p>
       <p>We need to add one final principle. It is separate from the others because it is specific to Distributed City (the others are general principles which can help guide action in any human context).</p>

       <hr>
       <p><em>Do not threaten the existence of Distributed City itself.</em></p>

       <p>If the actions of a user of Distributed City causes Distributed City's existance to become threatened, that user's account will be terminated. Terminating an account is a very serious penalty, and is a 
       step which will not be taken without reason and explanation (and which may be subject to external arbitration in contraversial cases).</p>
       <p>If a user's actions cause our ISP to threaten to disconnect us, we will terminate the user's account. If a user's action brings a serious external legal threat to Distributed City, we reserve the right to terminate the user's account.</p>

       <p>We will terminate a user's account for spamming (see below) or posting content which is knowingly advertised using unsolicited communications through email or other Internet medium, for posting child pornography or links to it, and for 
       posting personal information about another (see also below).</p>

       <p>If you want to promote your business, use your personal Weblog or the 'Ventures' or 'Classifieds' categories in the Forums. We advise against the posting of multi-level marketing pitches, and dubious 'business opportunities' as many users react swiftly and intemperately to such posts and the poster.</p>
      
       <p>Don't forget that the discussion systems contain opinions and not necessarily verifiable facts. Make sure you do your homework before acting on anything posted - due diligence resources are available here.</p>

       <p><em>Our definition of spam</em> - bulk or regular unsolicited messages sent to individual private message accounts, posted as news/Weblogs comments or to the Forums, that are any of the following: <em>a)</em> Forwarded chain letters and emails, <em>b)</em> Advertising or promoting unsolicited web sites, <em>c)</em> Advertising or promoting unsolicited business activities. We will also take action if a user is flooding the discussion systems with identical posts.</p>

       <p><em>Posting personal information about another</em> - while it is not illegal in most countries to post publicly available 
       information, it is against the principles of this community. If a user is doing it as a means to threaten, harass or attack we will terminate that user's account. Please note that personal information means name and physical address, 
       phone, fax, E-mail address and other identifying information that has not already been publicly disclosed by the user
       themselves in Distributed City either on their Weblog, or by them in the news or Weblogs comments pages and Forums.
       
       <p>In the case of both spam and the posting of personal information we will remove any offending message and/or edit the posts that refer to them to remove the spam or personal information.</p>
       
       <p>We will under the above guidelines moderate the news comment pages and Forums but will not terminate a user's account for 'filthy language', 'name calling', 'flaming', or 'trolling', and similar subjective acts which are 
       within the boundaries of free speech.</p>

       <p>We may even go to bat, legally, to defend our principles and the principles of the community. For instance, if a user who is also a programmer creates software which violates a ridiculous copyright or patent law in some jurisdiction and publishes that software on DC, we will defend 
       that user's right to free speech and expression provided that it does not threaten the existence of Distributed City itself.</p>

       <p>Finally, we strongly recommend spending a few minutes reading the posts in the 'Distributed City' > 'Beginners' forum before you post in order to familiarize yourself with post formatting tags, and DC conventions.</p>

       <p>We hope you will enjoy the Distributed City community.</p>

       <p>Regards,</p>

       <p>The Distributed City Team</p>
       <p>* Your 4096-bit OpenPGP keypair is now being generated. You will receive a Private Message from Crypto_Engine when it is
       completed and available in a couple of minutes. To check on progress, click on the 'Settings' tab, 'OpenPGP' menu item.</p>
		</td>
	      </tr>
	    <tr>
	      <td class="buttonRow" align="right">
		<form action="/news/?SID={{sid}}" method="post">
		  <input type="submit" name="null" value="Continue" class="formButton"> 
		  </form>
		</td>
	      </tr>
	    </table>
	  </td>
	<td class="sidebarRight" valign="top">
	  &nbsp; 
	  </td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	<td class="pageFooterLeft" width="125">
	  <img src="/images/master/spacer_clear.gif" width="125" height="10"> 
	  </td>
	<td class="pageFooterMid" width="100%">
	  <img src="/images/master/spacer_clear.gif" width="500" height="10"> 
	  </td>
	<td class="pageFooterRight" align="right" valign="top" width="125">
	  <img src="/images/master/spacer_clear.gif" width="125" height="10"> 
	  </td>
	</tr>
</table>
</body>
</html>
