{{section:newsSummaryItem}}
<table width="100%" border="0" cellspacing="0" cellpadding="3">
 <tr>
  <td class="newsItemTitle">{{subject}}</td>
 </tr>
{{section:frontPageFeatured hidden="yes"}} 
 <tr>
  <td class="newsItemSubtitle" align='center'>A front page feature story!</td>
 </tr>
{{/section:frontPageFeatured}} 
 <tr>
  <td class="newsItemSubtitle">
   <table border="0" cellpadding="0" cellspacing="0">
    <tr>
     <td><img src="{{user_image_src}}" ALT="[IMG]" hspace="3" width="16" height="16"></td>
     <td width="100%">
      <span class="newsItemSubtitleText">
       Posted by <a href="/search/?profile={{poster_id}}">{{poster_username}}</a> in {{category_name}}:&nbsp;{{topic_name}} on <nobr>{{date_time}}</nobr>
      </span>
     </td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td class="newsItemContent"><a href="/news/categories/?category_id={{category_id}}"><img src="/images/topics/{{category_icon}}.gif" border="0" width="64" height="64" align="right" hspace="3"></a>{{leadin}}</td>
 </tr>
 <tr>
  <td class="newsItemFooter"><a href="/news/article/?aid={{id}}" class="readMoreLink">Read More</a> 
   <span class="postCount">
    ({{comment_count_text}})
   </span>
  </td>
 </tr>

 <tr>
  <td><img src="/images/master/spacer_clear.gif" width="2" height="3"></td>
 </tr>
</table>

{{/section:newsSummaryItem}}
