<table width="125" border="0" cellspacing="0" cellpadding="3">
      <tr>
	<td height="5">
	  <img src="/images/master/spacer_clear.gif" width="2" height="3"> 
	</td>
      </tr>
      <tr>
	<td width="100%" class="menuBlockHeader">
	  User Directory
	</td>
      </tr>
      <tr>
	<td class="menuTableContainer">
	  <table width="100%" border="0" cellspacing="0" cellpadding="5">
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?action=search_form">Search</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="leftBlockDivider">
		Browse:
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=a|b|c|d|e">A - E</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=f|g|h">F - H</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=i|j|k">I - K</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=l|m|n">L - N</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=o|p|q">O - Q</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=r|s|t">R - T</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=u|v|w">U - W</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=x|y|z">X - Z</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=0|1|2|3|4|5|6|7|8|9">0 - 9</A>
	      </td>
	    </tr>
	    <tr>
	      <td class="menuOff">
		<A HREF="/search/?browse=ALL">ALL</A>
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
      <tr>
	<td class="leftBlockFooter">
	  <img src="/images/master/spacer_clear.gif" width="3" height="5"> 
	</td>
      </tr>
    </table>